<template name="search">
  <section id="patients-list" class="live-search">
    <div class="col-md-4 col-md-offset-4 col-xs-12">
      <div class="row header-field">
        <div class="input-group search">
          <span class="input-group-addon search-icon" id="sizing-addon1">
            <img src="images/search.png" alt="Search">
          </span>
          <input type="text" class="form-control live-search-input search-field" placeholder="Find Patient" area-describedby="sizing-addon1" />
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="text-center">
          <div class="status">
            <div class="lead"></div>
          </div>
          <div class="btn-container">
            <a class="btn btn-primary" id="show-all-words">Show All Words</a>
          </div>
        </div>
        <table class="table table-hover">
          <tbody></tbody>
        </table>
      </div>
    </div>
  </section>
</template>