<template name="_header">
  <header>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ pathFor 'items' }}">{{ shortName }}</a>
        </div>
        <div class="collapse navbar-collapse" id="main-nav">
          <ul class="nav navbar-nav navbar-left">
            <li class="{{ isActiveRoute regex='items' }}">
              <a href="{{ pathFor 'items' }}">Items</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</template>
